### Heroes Of Pymoli Data Analysis

780 purchases were made by 576 unique buyers. 26.2% of our customers are repeat buyers. Males make up an overwhelming percentage of total sales with 84%, while Females and Others/Non-Disclosed make up the remaining 16%. However, Females and Others/Non-Disclosed outspend Males by a range of 46 - 56 cents per sale. Finally, 63% of all purchases are made by people between the ages of 15-24, with 20-24 year as our the greatest spenders making up 44.7% of that total. People over the age of 40 spend the least amount of money making up only 2% of total sales. The most popular and profitable item sold was Final Critc.

In [1]:
# Import Dependencies and lod in csv file
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
sales_df = pd.read_csv(file_to_load)
sales_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
# Calculating total number of "players" that make up sales data
player_count = len(sales_df["SN"].value_counts())

print(f'The total number of players is {player_count}.')

The total number of players is 576.

### Purchasing Analysis (Total)
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [3]:
# purchase_analysis_df
# Calculating Purchasing Analysis stats

unique_items = len(sales_df["Item ID"].unique())
avg_purchase = sales_df["Price"].mean()
total_purchases = sales_df["SN"].count()
total_rev = sales_df["Price"].sum()
                      
# Creating df to hold summary values
purchase_analysis_df = pd.DataFrame({"Total Player Count": [player_count],
                                  "Number of Unique Items": unique_items,
                                  "Average Purchase Price": avg_purchase,
                                  "Total Number of Purchases": total_purchases,
                                  "Total Revenue": total_rev})
purchase_analysis_df = purchase_analysis_df.set_index("Total Player Count")


purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)

# DISPLAYING PURCHASE ANALYSIS SUMMARY DATA
purchase_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Total Player Count,,,,
576,179,$3.05,780,"$2,379.77"

## Gender Demographics
* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calculating Gender Demographics 

# counting the unique values within the SN Column
gender_count = sales_df.groupby("Gender")["SN"].unique()

# counting unique values in each type of gender to return totals
female_count = len(gender_count["Female"])
male_count = len(gender_count["Male"])
other_count = len(gender_count["Other / Non-Disclosed"])

# Calculating Percentages

female_percentage = (female_count / player_count) * 100
male_percentage = (male_count / player_count) * 100
other_percentage = (other_count / player_count) * 100

gender_counts_df = pd.DataFrame({"Gender" : ["Female", "Male", "Other / NonDisclosed"],
                    "Count" : [female_count, male_count, other_count],
                    "% of Count" : [female_percentage, male_percentage, other_percentage]})

# formatting Percentages
gender_counts_df["% of Count"] = gender_counts_df["% of Count"].map("{:.2f}%".format)

# DISPLAYING GENDER DEMOGRAPHICS SUMMARY DATA
gender_counts_df

                 Gender  Count % of Count
0                Female     81     14.06%
1                  Male    484     84.03%
2  Other / NonDisclosed     11      1.91%


## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [5]:
# Calculating Purchasing Analysis based on total sales by gender
gender_demo_count = sales_df.groupby("Gender")["Gender"].count()
gender_demo_avg_price = sales_df.groupby("Gender")["Price"].mean()
gender_demo_total_rev = sales_df.groupby("Gender")["Price"].sum()
avg_spend_per_person = gender_demo_total_rev / (female_count, male_count, other_count)

gender_demo_df = pd.DataFrame({"Purchase Count" : gender_demo_count,
                             "Avg Purchase Price" : gender_demo_avg_price,
                              "Total Purchase Value" : gender_demo_total_rev,
                              "Avg Total by Person": avg_spend_per_person })

#Formatting Currency
gender_demo_df["Avg Purchase Price"] = gender_demo_df["Avg Purchase Price"].map("${:,.2f}".format)
gender_demo_df["Total Purchase Value"] = gender_demo_df["Total Purchase Value"].map("${:,.2f}".format)
gender_demo_df["Avg Total by Person"] = gender_demo_df["Avg Total by Person"].map("${:,.2f}".format)


#DISPLAYING PURCHASING ANALYSIS BY GENDERY TYPE SUMMARY
gender_demo_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total by Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for age

* Categorize the existing players using the age bins. Hint: use pd.cut()

* Calculate the numbers and percentages by age group

* Create a summary data frame to hold the results

* Optional: round the percentage column to two decimal points

* Display Age Demographics Table

In [6]:
# Creating new df that is specific to Age Demographics
# Pulling in only 3 columns from sales_df
age_df = sales_df.loc[:, ["Gender", "Age", "SN"]]
 
# Removing Duplicate values so that only the unique SNs are displayed
age_df = age_df.drop_duplicates()

In [7]:
# Purchase Analysis by Age Demographic
# creating bins for age_df
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)
age_df

count_by_age_range = age_df.groupby("Age Range")["Gender"].count()
percent_by_age_range = (count_by_age_range / player_count) * 100

age_summary_df = pd.DataFrame({"Total Count" : count_by_age_range,
                            "% By Age Range" : percent_by_age_range,
                            })
# formatting Percentages
age_summary_df["% By Age Range"] = age_summary_df["% By Age Range"].map("{:.2f}%".format)

#  DISPLAYING AGE DEMOGRAPHICS SUMMARY DATA
age_summary_df

           Total Count % By Age Range
Age Range
<10                 17          2.95%
10-14               22          3.82%
15-19              107         18.58%
20-24              258         44.79%
25-29               77         13.37%
30-34               52          9.03%
35-39               31          5.38%
40+                 12          2.08%

# Purchasing Analysis (Age)

* Bin the purchase_data data frame by age

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [8]:
# Purchase Analysis statistic calculations

# creating bins for age ranges
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Creating new column in sales_df by cutting "Age" 
sales_df["Age Range"] = pd.cut(sales_df["Age"], bins, labels=group_names, include_lowest=True)


# Calculating Age Demographics using grouping off sale_df
count_by_age = sales_df.groupby("Age Range")["Gender"].count()
avg_price_by_age = sales_df.groupby("Age Range")["Price"].mean()
percent_by_age = (sales_df.groupby("Age Range")["Price"].sum() / total_rev) * 100

total_rev_by_age = sales_df.groupby("Age Range")["Price"].sum()
avg_rev_by_SN = total_rev_by_age / count_by_age_range

In [9]:
# PURCHASE ANALYSIS (AGE)
# Creating new df for Age Demographic Summary
purch_demobyage_df = pd.DataFrame({"Purchase Count" : count_by_age,
                             "% of Sales" : percent_by_age,
                            "Average Purchase Price" : avg_price_by_age,
                            "Total Purchase Value" : total_rev_by_age,
                            "Avg Total Purchase per Person": avg_rev_by_SN})

#Formatting Currency
purch_demobyage_df["Average Purchase Price"] = purch_demobyage_df["Average Purchase Price"].map("${:,.2f}".format)
purch_demobyage_df["Total Purchase Value"] = purch_demobyage_df["Total Purchase Value"].map("${:,.2f}".format)
purch_demobyage_df["Avg Total Purchase per Person"] = purch_demobyage_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# formatting Percentages
purch_demobyage_df["% of Sales"] = purch_demobyage_df["% of Sales"].map("{:.2f}%".format)

# DISPLAYING PURCHASE ANALYSIS (AGE)
purch_demobyage_df

,Purchase Count,% of Sales,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,,
<10,23,3.24%,$3.35,$77.13,$4.54
10-14,28,3.48%,$2.96,$82.78,$3.76
15-19,136,17.35%,$3.04,$412.89,$3.86
20-24,365,46.81%,$3.05,"$1,114.06",$4.32
25-29,101,12.31%,$2.90,$293.00,$3.81
30-34,73,8.99%,$2.93,$214.00,$4.12
35-39,41,6.21%,$3.60,$147.67,$4.76
40+,13,1.61%,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [10]:
# TOPS SPENDERS ANALYSIS
# using Groupby and function to obtain Top Spender statistics
top_spender_count = sales_df.groupby("SN")["Price"].count()
top_spender_avg_price = sales_df.groupby("SN")["Price"].mean()
top_spender_total_rev = sales_df.groupby("SN")["Price"].sum()

top_spender_df = pd.DataFrame({
     "Purchase Count": top_spender_count,
    "Average Purchase Price":top_spender_avg_price,
    "Total Purchase Value":top_spender_total_rev
    })
#Sorting the df to show the top spenders 
top_spender_df=top_spender_df.sort_values(by="Total Purchase Value", ascending=False)

#Formatting Currency
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map("${:,.2f}".format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map("${:,.2f}".format)

# DISPLAYING TOP 10 SPENDERS 
top_spender_df.head(10)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.40               $13.62
Iskadarya95                3                  $4.37               $13.10
Ilarin91                   3                  $4.23               $12.70
Ialallo29                  3                  $3.95               $11.84
Tyidaim51                  3                  $3.94               $11.83
Lassilsala30               3                  $3.84               $11.51
Chadolyla44                3                  $3.82               $11.46

## Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns

* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

* Create a summary data frame to hold the results

* Sort the purchase count column in descending order

* Optional: give the displayed data cleaner formatting

* Display a preview of the summary data frame

In [11]:
# Creating new df from sales_df for Popular Items Analysis
popular_df = sales_df.loc[:, ["Item Name","Item ID", "Price"]]

In [12]:
# using Groupby and function to obtain Top Spender statistics
groupedby_popular = popular_df.groupby(["Item ID", "Item Name"])

# performing calculations base on the popular item groups
popular_count = groupedby_popular.count()["Price"]
popular_avg = groupedby_popular.mean()["Price"]
popular_sum = groupedby_popular.sum()["Price"]

popular_item_df = pd.DataFrame({
     "Total Item Count": popular_count,
    "Item Price":popular_avg ,
    "Total Purchase Value":popular_sum
    })
#Sorting the df to show the top selling intems 
popular_item_df = popular_item_df.sort_values(by="Total Item Count", ascending=False)

#Formatting Currency
popular_item_df["Item Price"] = popular_item_df["Item Price"].map("${:,.2f}".format)


# DISPLAYING TOP 10 MOST POPULAR ITEMS 
popular_item_df.head(20)

,,Total Item Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
82,Nirvana,9,$4.90,44.10
75,Brutality Ivory Warmace,8,$2.42,19.36
103,Singed Scalpel,8,$4.35,34.80
34,Retribution Axe,8,$2.22,17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,25.28
19,"Pursuit, Cudgel of Necromancy",8,$1.02,8.16
60,Wolf,8,$3.54,28.32
72,Winter's Bite,8,$3.77,30.16
59,"Lightning, Etcher of the King",8,$4.23,33.84
78,"Glimmer, Ender of the Moon",7,$4.40,30.80
117,"Heartstriker, Legacy of the Light",7,$1.79,12.53
85,Malificent Bag,7,$1.75,12.25
110,Suspension,7,$1.44,10.08
71,Demise,7,$1.61,11.27
53,Vengeance Cleaver,7,$2.05,14.35

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
# Creating new df for profitable items from popular df
profitable_item_df = popular_item_df.sort_values(by="Total Purchase Value", ascending=False)

# DISPLAYING MOST PROFIIABLE ITEMS
profitable_item_df.head(10)

,,Total Item Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80
59,"Lightning, Etcher of the King",8,$4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
78,"Glimmer, Ender of the Moon",7,$4.40,30.80
72,Winter's Bite,8,$3.77,30.16
132,Persuasion,9,$3.22,28.99